body {
  background-color: rgb(242, 242, 242);
}

.left {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  background-color: white;
  padding: 10px 20px;
}

.left .brandIcon {
  display: block;
  height: 60px;
  margin-top: 20px;
}

.left hr {
  margin: 30px 0px 20px 0px;
}

.left .sidebarSection {
  margin-bottom: 40px;
  cursor: pointer;
}

.left .sidebarSection img {
  display: block;
  margin: auto;
  height: 50px;
  width: auto;
  transition: transform 0.2s;
}

.left .sidebarSection:hover img {
  transform: scale(1.1);
}

.left .sidebarSection p {
  text-align: center;
}

.left .sidebarSection .iconBig {
  height: 70px;
  width: auto;
}

.right {
  display: inline-block;
  padding: 30px;
}

.cameraViewParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cameraView {
  display: inline-block;
}

.calibButton {
  background-color: lightblue;
}

.instrumentButtons {
  width: 40%;
  height:20%;
  padding:10px;
  border:none;
}

.modeButtons {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  font-size: 16px;
  border-color: pink;
  color: pink;
}

.buttons {
  padding-left:50px;
  padding-top:50px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}