body {
  background-color: rgb(233, 236, 243);
  font-family: 'arial';
}

.header {
  height: 60px;
  background-color: white;
}

.header img {
  display: inline-block;
  height: 40px;
  margin: 10px 20px 20px 10px;
}

.header h1 {
  display: inline-block;
  font-size: 20px;
  margin-top: 17px;
  vertical-align: top;
}

.content {
  width: 70%;
  margin-left: 15%;
  /* border: 1px solid black; */
  padding: 30px 0px 50px 0px;
}

.content .videoLoading {
  width: 100%;
  padding: 15px 0px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
}

.cameraViewParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cameraView {
  display: inline-block;
}

.menu {
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}

.menu button {
  background-color: white;
}

.instrumentButtons {
  width: 40%;
  height:20%;
  padding:10px;
  border:none;
}

.modeButtons {
  padding: 10px;
  width: 30%;
  border-radius: 2px;
  font-size: 24px;
  border: none;
  border: 1px solid pink;
}


.divider{
    width:5px;
    height:5px;
    height:auto;
    display:inline-block;
}

.songSelection {
  visibility: false;
}

.songButton {
  display: block;
  color: darkorchid;
  padding-top:5px;
  padding-bottom:5px;
  font-size: 12px;
}

.songButtons {
  padding-left:30px;
}

.settingsText {
  padding-left:5px;
  padding-right:5px;
}

.settings {
  display:block;
}
