.header {
  height: 100px;
  width: 100%;
  border: 1px solid red;
}

.header img {
  height: 60px;
  margin-top: 20px;
  display: inline-block;
}

.header h1 {
  display: inline-block;
  vertical-align: center;
  margin: 0px;
}

.cameraViewParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cameraView {
  display: inline-block;
}
