body {
  background-color: rgb(242, 242, 242);
}

.left {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  background-color: white;
  padding: 10px 20px;
}

.left img {
  display: block;
  height: 60px;
}

.left h1 {
  display: block;
  transform: rotate(-90deg);
  vertical-align: top;
  margin: 10px 0px 0px 20px;
}

.right {
  display: inline-block;
  padding: 30px;
}

.cameraViewParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cameraView {
  display: inline-block;
}
